.container {
  height: 700px;
  width: 700px;
  margin: 200px auto;
  background-color: black;
  box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
  display: grid;
  grid-template: 1fr 1fr / repeat(4, 1fr);

  /*column-gap: 20px;*/
  /*row-gap: 10px;*/

  gap: 10px 20px;
}

.box {
  color: white;
  font-size: 30px;
  text-align: center;
}
