/*#pageTitle {*/
/*  color: red;*/
/*}*/

/*.brownColor {*/
/*  color: brown;*/
/*}*/

/*#title {*/
/*  color: aqua;*/
/*}*/

h1 {
  color: blue;
}

li {
  color: blueviolet;
}

p {
  color: yellowgreen;
}
